p,h1,h2,h3{
    color: $couleur__textePale;
  }
.accueil {
    background-color: $fond__prog;
    width: 100%;
    //height: 200px; min max!!!!!
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    .titre_accueil {
        background-color: $orange__creation;
        margin-top: 2%;
        //forme!!!!!

        h1 {
            font-size: 24px;
        }

    }

    .description_accueil {
        background-color: $fond__creation;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        //opacity: 100%;!!!!!!
        margin-top: 45%;

        p {
            color: rgb(255, 255, 255);
            padding: 1%;
            margin: 0;
            font-size: 12px;

        }
    }

}
