//
.accueil_div {
    width: 100%;
    background-color: $fond__prog;
    font-family: 'Montserrat', sans-serif;
    color: $couleur__textePale;

    .video_accueil {
        height: 20vh;
    }

    .info_accueil {
        background-color: rgba(2, 18, 45, 0.425);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .titre_accueil {
            background-color: $orange__creation;
            margin: 3%;
            text-align: center;
            width: 60vw;
            font-size: 24px;
            border-radius: 50px;
        }

        .description_accueil {
            margin: 2%;
            font-size: 12px;
        }

    }
}

@media screen and (min-width: $largeur__tablette) {
    .accueil_div {
        display: flex;
        flex-direction: row;

        .video_accueil {
            height: 60vh;
        }

        .info_accueil {

            .titre_accueil {
                margin: 3%;
                width: 30vw;
                font-size: 26px;
            }

            .description_accueil {
                margin: 3%;
                font-size: 14px;
            }

        }
    }
}

@media screen and (min-width: $largeur__bureau) {
    .accueil_div {

        .video_accueil {
            height: 70vh;
        }

        .info_accueil {

            .titre_accueil {
                margin: 4%;
                width: 25vw;
                font-size: 28px;
            }

            .description_accueil {
                margin: 5%;
                font-size: 16px;
            }

        }
    }
}