//
.carrousel {
    width: 100%;
    height: 25vh;
    background-color: $fond__prog;
    font-family: 'Montserrat', sans-serif;
    color: $couleur__textePale;
    margin: 10px 0;

    .carrousel_projets {

        .video_projet {
            //height: 0vh;
            z-index: -1;
        }

        .info_projet {
            background-color: rgba(2, 18, 45, 0.425);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            z-index: 1;
            position: relative;
            bottom: 120px;

            .titre_projet {
                background-color: $orange__creation;
                // margin: 3%;
                text-align: center;
                width: 60vw;
                font-size: 24px;
                border-radius: 50px;
            }

            .descritpion_projet {
                //margin: 2%;
                font-size: 12px;
            }

            .carrousel__bouton {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 5px;
            }
        }


    }


}

@media screen and (min-width: $largeur__tablette) {
    .carrousel {
        display: flex;
        flex-direction: row;

        .video_projet {
            height: 60vh;
        }

        .info_projet {

            .titre_projet {
                margin: 3%;
                width: 30vw;
                font-size: 26px;
            }

            .descritpion_projet {
                margin: 3%;
                font-size: 14px;
            }

        }
    }
}

@media screen and (min-width: $largeur__bureau) {
    .carrousel {

        .video_projet {
            height: 70vh;
        }

        .info_projet {

            .titre_projet {
                margin: 4%;
                width: 25vw;
                font-size: 28px;
            }

            .descritpion_projet {
                margin: 5%;
                font-size: 16px;
            }

        }
    }
}