.carrousel {
    width: 100%;
    color: $couleur__textePale;
    overflow: hidden;
    background-color: #02122D;
    //z-index: 5;

    .projet_article {
        width: 100%;


        .bloc_projet {
            display: flex;
            flex-direction: column;

            .projet_titre_desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 3%;
                z-index: 2;
                background-color: #02122D;



                h2 {
                    display: flex;
                    justify-content: center;
                    color: $bleu__pale;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 60vw;
                    border-radius: 50px;
                }

                //description
                p {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;
                    padding: 5px;
                }
            }

            .bouton_image {
                display: flex;
                flex-wrap: wrap;

                //boutons
                .carrousel_bouton {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    width: 100%;
                    height: 35vh;
                    position: absolute;
                    z-index: 2;

                    #bouton_gauche,
                    #bouton_droit {
                        background-color: transparent;
                        cursor: pointer;
                        width: 3em;
                        height: 3em;
                        border-top: solid 7px $bleu__pale;
                        border-right: solid 7px $bleu__pale;
                        border-left: none;
                        border-bottom: none;
                        border-radius: 10%;
                        margin: 2em;
                        transition: border-color 0.5s ease,
                            rotate 0.5s ease;
                    }

                    #bouton_gauche:hover,
                    #bouton_droit:hover {
                        border-color: $orange__creation;
                        rotate: 5deg;

                    }

                    #bouton_gauche:hover {
                        rotate: 5deg;

                    }

                    #bouton_droit:hover {
                        rotate: -5deg;

                    }

                    #bouton_gauche {
                        transform: rotate(225deg);
                    }

                    #bouton_droit {
                        transform: rotate(45deg);
                    }
                }

                //images
                .projet_image {
                    height: 35vh;
                    width: 100%;
                    animation: 2s ease-in-out animImg,
                        2s ease-in-out 4.5s animImg2;
                    z-index: 2;

                    img {
                        //height: 35vh;
                        //width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }

        .bloc_projet:before {
            content: "";
            background-color: #02122D;
            width: 100%;
            height: 10vh;
            position: absolute;
            top: 110px;
        }

    }

    @keyframes animImg {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes animImg2 {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

}

.vague_carrousel {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #02122D;
    z-index: 0;
    margin-bottom: 60px;
}

.vague_carrousel:before,
.vague_carrousel:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #02122D;
    z-index: 0;
}

.vague_carrousel:before {
    border-radius: 50% 50% 0 0;
    top: -50px;
}

.vague_carrousel:after {
    border-radius: 0 0 50% 50%;
    bottom: -50px;
}

///////////////////////////////////////////
@media screen and (min-width: $largeur__tablette) {
    .carrousel {
        height: 64vh;
        width: 100%;

        .projet_article {
            width: 100%;
            height: 64vh;
            padding: 1.5%;

            .bloc_projet {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                height: 60vh;

                .projet_titre_desc {
                    width: 40vw;
                    background-color: rgba(2, 18, 45, 0);

                    //titre
                    h2 {
                        width: 20vw;
                    }

                    //description
                    div {
                        padding: 5px;
                    }
                }

                .bouton_image {
                    justify-content: center;
                    height: 60vh;

                    //boutons
                    .carrousel_bouton {
                        height: 60vh;
                        justify-content: space-around;

                        #bouton_gauche,
                        #bouton_droit {
                            width: 2em;
                            height: 2em;
                            border-top: solid 7px $bleu__pale;
                            border-right: solid 7px $bleu__pale;
                            border-radius: 10%;
                        }
                    }
                }

                //images
                .projet_image {
                    height: 60vh;
                    width: 60vw;

                    img {
                        height: 60vh;
                        width: 60vw;
                        border-radius: 25px 25px 150px 25px;
                    }
                }
            }

            .bloc_projet:before {
                top: 100px;
            }
        }
    }

    @keyframes animImg {
        from {
            opacity: 0;
            transform: translateX(110vh);

        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes animImg2 {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(-110vh);
        }
    }
}

//////////////////////////////////////
@media screen and (min-width: $largeur__bureau) {
    .carrousel {
        height: 90vh;
        width: 100%;

        .projet_article {
            height: 90vh;
            width: 100%;

            .bloc_projet {
                height: 90vh;
                width: 100%;

                .projet_titre_desc {
                    width: 30vw;

                    //titre
                    h2 {
                        width: 25vw;
                    }

                    //description
                    div {
                        padding: 5px 20px;
                    }
                }

                .bouton_image {
                    height: 90vh;

                    //boutons
                    .carrousel_bouton {
                        height: 90vh;
                        justify-content: center;
                        align-content: flex-end;
                        padding: 3%;

                        #bouton_gauche,
                        #bouton_droit {
                            width: 3em;
                            height: 3em;
                            border-top: solid 8px $bleu__pale;
                            border-right: solid 8px $bleu__pale;
                            border-radius: 10%;

                        }
                    }
                }

                //images
                .projet_image {
                    width: 100%;
                    height: 84vh;

                    img {
                        width: 100%;
                        height: 84vh;
                        border-radius: 50px 50px 200px 50px;
                    }
                }
            }

            .bloc_projet:before {
                top: 120px;
            }
        }
    }
}