.carrousel {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: $couleur__textePale;
    overflow: hidden;

    .projet_article {
        width: 100%;

        .bloc_projet {
            display: flex;
            flex-direction: column;

            .projet_titre_desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgb(2, 18, 45);
                padding: 3%;

                //titre
                h2 {
                    display: flex;
                    justify-content: center;
                    color: $bleu__pale;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 60vw;
                    font-size: 18px;
                    border-radius: 50px;
                }

                //description
                p {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;
                    padding: 5px;
                    font-size: 10px;
                }
            }

            //boutons
            .carrousel_bouton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 25vh;
                position: absolute;

                #bouton_gauche,
                #bouton_droit {
                    background-color: transparent;
                    cursor: pointer;
                    width: 3em;
                    height: 3em;
                    border-top: solid 6px $bleu__moyen;
                    border-right: solid 6px $bleu__moyen;
                    border-left: none;
                    border-bottom: none;
                    border-radius: 10%;
                    margin: 2em;
                }

                #bouton_gauche:hover,
                #bouton_droit:hover {
                    border-color: $orange__creation;
                }

                #bouton_gauche:active,
                #bouton_droit:active {
                    border-color: $orange__creation;
                    background-color: $fond__creation;
                }

                #bouton_gauche {
                    transform: rotate(225deg);
                }

                #bouton_droit {
                    transform: rotate(45deg);
                }
            }

            //images
            .projet_image {

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 25vh;
                }
            }
        }
    }
}

///////////////////////////////////////////
@media screen and (min-width: $largeur__tablette) {
    .carrousel {
        height: 50vh;
        width: 100%;

        .projet_article {
            width: 100%;
            height: 50vh;

            .bloc_projet {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 50vh;

                .projet_info {
                    flex-direction: column-reverse;
                    width: 40vw;
                    height: 50vh;
                    top: 0;
                    right: 0;

                    .projet_titre_desc {
                        margin-top: 2vh;
                        padding: 2vh;
                        height: 50vh;

                        //titre
                        h2 {
                            width: 20vw;
                            font-size: 18px;
                        }

                        //description
                        div {
                            padding: 5px;
                            font-size: 12px;
                        }
                    }

                    //boutons
                    .carrousel_bouton {

                        #bouton_gauche,
                        #bouton_droit {
                            width: 1.5em;
                            height: 1.5em;
                            border-top: solid 5px $bleu__moyen;
                            border-right: solid 5px $bleu__moyen;
                            border-radius: 10%;
                            margin: 2em;
                        }
                    }
                }

                //images
                .projet_image {
                    img {
                        height: 50vh;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////
@media screen and (min-width: $largeur__bureau) {
    .carrousel {
        height: 80vh;
        width: 100%;

        .projet_article {
            height: 80vh;
            width: 100%;

            .bloc_projet {
                height: 80vh;
                width: 100%;

                .projet_info {
                    height: 80vh;
                    width: 30vw;

                    .projet_titre_desc {
                        height: 80vh;

                        //titre
                        h2 {
                            width: 20vw;
                            font-size: 24px;
                        }

                        //description
                        div {
                            padding: 5px 20px;
                            font-size: 18px;
                        }
                    }

                    //boutons
                    .carrousel_bouton {

                        #bouton_gauche,
                        #bouton_droit {
                            width: 2.5em;
                            height: 2.5em;
                            border-top: solid 8px $bleu__moyen;
                            border-right: solid 8px $bleu__moyen;
                            border-radius: 10%;
                            margin: 2.5em;
                        }
                    }
                }

                //images
                .projet_image {

                    img {
                        height: 80vh;
                    }
                }
            }
        }
    }
}