.carrousel {
    width: 100%;
    color: $couleur__textePale;
    overflow: hidden;
    background-color: #02122d;

    .projet_article {
        width: 100%;

        .bloc_projet {
            display: flex;
            flex-direction: column;

            .projet_titre_desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgb(2, 18, 45);
                padding: 3%;
                z-index: 2;

                //titre
                h2 {
                    display: flex;
                    justify-content: center;
                    color: $bleu__pale;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 60vw;
                    border-radius: 50px;
                }

                //description
                p {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;
                    padding: 5px;
                }
            }

            .bouton_image {
                display: flex;
                flex-wrap: wrap;

                //boutons
                .carrousel_bouton {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    width: 100%;
                    height: 35vh;
                    position: absolute;
                    z-index: 2;

                    #bouton_gauche,
                    #bouton_droit {
                        background-color: transparent;
                        cursor: pointer;
                        width: 3em;
                        height: 3em;
                        border-top: solid 7px $bleu__pale;
                        border-right: solid 7px $bleu__pale;
                        border-left: none;
                        border-bottom: none;
                        border-radius: 10%;
                        margin: 2em;
                        transition: border-color 0.5s ease,
                            rotate 0.5s ease;
                    }

                    #bouton_gauche:hover,
                    #bouton_droit:hover {
                        border-color: $orange__creation;
                        rotate: 5deg;

                    }

                    #bouton_gauche:hover {
                        rotate: 5deg;

                    }

                    #bouton_droit:hover {
                        rotate: -5deg;

                    }

                    #bouton_gauche {
                        transform: rotate(225deg);
                    }

                    #bouton_droit {
                        transform: rotate(45deg);
                    }
                }

                //images
                .projet_image {
                    height: 35vh;
                    animation: 2s ease-in-out animImg,
                        2s ease-in-out 4.5s animImg2;
                    z-index: 0;

                    img {
                        object-fit: cover;

                    }
                }
            }
        }

    }

    @keyframes animImg {
        from {
            opacity: 0;
            //transform: translateX(110vh);

        }

        to {
            opacity: 1;
            //transform: translateX(0);
        }
    }

    @keyframes animImg2 {
        from {
            opacity: 1;
            //transform: translateX(0);
        }

        to {
            opacity: 0;
            //transform: translateX(-110vh);
        }
    }

}

//vague
.vague_carrousel {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #02122d;
    transform: scale(1, 1);
    z-index: 0;
}

.vague_carrousel:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: $fond__creation;
    right: -25%;
    top: 20px;
}

.vague_carrousel:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: rgb(2, 18, 45);
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}

///////////////////////////////////////////
@media screen and (min-width: $largeur__tablette) {
    .carrousel {
        height: 60vh;
        width: 100%;

        .projet_article {
            width: 100%;
            height: 60vh;

            .bloc_projet {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                height: 60vh;

                .projet_titre_desc {
                    width: 40vw;
                    background-color: rgba(2, 18, 45, 0);

                    //titre
                    h2 {
                        width: 20vw;
                    }

                    //description
                    div {
                        padding: 5px;
                    }
                }

                .bouton_image {
                    justify-content: center;
                    height: 60vh;

                    //boutons
                    .carrousel_bouton {
                        height: 60vh;
                        justify-content: space-around;

                        #bouton_gauche,
                        #bouton_droit {
                            width: 2em;
                            height: 2em;
                            border-top: solid 7px $bleu__pale;
                            border-right: solid 7px $bleu__pale;
                            border-radius: 10%;
                        }
                    }
                }

                //images
                .projet_image {
                    height: 60vh;
                    width: 60vw;

                    img {
                        height: 60vh;
                        width: 60vw;
                        border-radius: 0 0 25% 0;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////
@media screen and (min-width: $largeur__bureau) {
    .carrousel {
        height: 90vh;
        width: 100%;

        .projet_article {
            height: 90vh;
            width: 100%;

            .bloc_projet {
                height: 90vh;
                width: 100%;

                .projet_titre_desc {
                    width: 30vw;

                    //titre
                    h2 {
                        width: 25vw;
                    }

                    //description
                    div {
                        padding: 5px 20px;
                    }
                }

                .bouton_image {
                    height: 90vh;

                    //boutons
                    .carrousel_bouton {
                        height: 90vh;
                        justify-content: center;
                        align-content: flex-end;

                        #bouton_gauche,
                        #bouton_droit {
                            width: 3em;
                            height: 3em;
                            border-top: solid 8px $bleu__pale;
                            border-right: solid 8px $bleu__pale;
                            border-radius: 10%;

                        }
                    }
                }

                //images
                .projet_image {
                    width: 100%;
                    height: 90vh;

                    img {
                        width: 100%;
                        height: 90vh;
                        border-radius: 0 0 50% 0;
                    }
                }
            }
        }
    }
}