.carrousel {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: $couleur__textePale;
    overflow: hidden;

    .projet_article {
        width: 100%;

        .bloc_projet {
            display: flex;
            flex-direction: column;

            .projet_titre_desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgb(2, 18, 45);
                padding: 3%;

                //titre
                h2 {
                    display: flex;
                    justify-content: center;
                    color: $bleu__pale;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 60vw;
                    font-size: 18px;
                    border-radius: 50px;
                }

                //description
                p {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0;
                    padding: 5px;
                    font-size: 10px;
                }
            }

            .bouton_image {
                display: flex;
                flex-wrap: wrap;

                //boutons
                .carrousel_bouton {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                    width: 100%;
                    height: 35vh;
                    position: absolute;
                    z-index: 2;

                    #bouton_gauche,
                    #bouton_droit {
                        background-color: transparent;
                        cursor: pointer;
                        width: 3em;
                        height: 3em;
                        border-top: solid 6px $bleu__moyen;
                        border-right: solid 6px $bleu__moyen;
                        border-left: none;
                        border-bottom: none;
                        border-radius: 10%;
                        margin: 2em;
                    }

                    #bouton_gauche:hover,
                    #bouton_droit:hover {
                        border-color: $orange__creation;
                    }

                    #bouton_gauche:active,
                    #bouton_droit:active {
                        border-color: red;
                    }

                    #bouton_gauche {
                        transform: rotate(225deg);
                    }

                    #bouton_droit {
                        transform: rotate(45deg);
                    }
                }

                //images
                .projet_image {
                    height: 35vh;

                    img {}
                }
            }
        }
    }
}

//vague
.vague {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: rgb(2, 18, 45);
    transform: scale(1, 1);
    z-index: 0;
}

.vague:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: $fond__creation;
    right: -25%;
    top: 20px;
}

.vague:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: rgb(2, 18, 45);
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}

///////////////////////////////////////////
@media screen and (min-width: $largeur__tablette) {
    .carrousel {
        height: 60vh;
        width: 100%;

        .projet_article {
            width: 100%;
            height: 60vh;

            .bloc_projet {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                height: 60vh;

                .projet_titre_desc {
                    width: 40vw;

                    //titre
                    h2 {
                        width: 20vw;
                        font-size: 18px;
                    }

                    //description
                    div {
                        padding: 5px;
                        font-size: 12px;
                    }
                }

                .bouton_image {
                    justify-content: center;
                    height: 60vh;

                    //boutons
                    .carrousel_bouton {
                        height: 60vh;
                        justify-content: space-around;


                        #bouton_gauche,
                        #bouton_droit {
                            width: 2em;
                            height: 2em;
                            border-top: solid 7px $bleu__moyen;
                            border-right: solid 7px $bleu__moyen;
                            border-radius: 10%;
                        }
                    }
                }

                //images
                .projet_image {
                    height: 60vh;
                    width: 60vw;

                    img {}
                }
            }
        }
    }
}


//////////////////////////////////////
@media screen and (min-width: $largeur__bureau) {
    .carrousel {
        height: 90vh;
        width: 100%;

        .projet_article {
            height: 90vh;
            width: 100%;

            .bloc_projet {
                height: 90vh;
                width: 100%;

                .projet_titre_desc {
                    width: 30vw;

                    //titre
                    h2 {
                        width: 25vw;
                        font-size: 24px;
                    }

                    //description
                    div {
                        padding: 5px 20px;
                        font-size: 18px;
                    }
                }

                .bouton_image {
                    height: 90vh;

                    //boutons
                    .carrousel_bouton {
                        height: 90vh;

                        #bouton_gauche,
                        #bouton_droit {
                            width: 2.5em;
                            height: 2.5em;
                            border-top: solid 8px $bleu__moyen;
                            border-right: solid 8px $bleu__moyen;
                            border-radius: 10%;
                            margin: 2.5em;
                        }
                    }
                }

                //images
                .projet_image {
                    width: 100%;
                    height: 90vh;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 90vh;
                    }
                }
            }
        }
    }
}