.environnement_div {

    .vv_environnement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        mask-clip: content-box;
        z-index: 5;

        iframe {
            width: 100%;
            height: 50vh;
            //margin: 2%;
            //border-radius: 30px;
            //border: 15px solid $bleu__moyen;
            border-bottom: 15px solid $bleu__moyen;
            border-top: 15px solid $bleu__moyen;
        }
    }
}

@media screen and (min-width: $largeur__tablette) {
    .environnement_div {

        .vv_environnement {


            iframe {
                width: 70%;
                height: 65vh;
                border-radius: 30px;
                border: 15px solid $bleu__moyen;
            }
        }
    }
}

@media screen and (min-width: $largeur__bureau) {
    .environnement_div {

        .vv_environnement {

            iframe {
                height: 80vh;
            }
        }
    }
}