// ****************************** Mobile ************************************ //
// SECTIONS FUTURE GÉNÉRALE
div.sections-future {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    div.section-future {
        display: flex;

        .img-future {
            position: relative;
            justify-content: center;
            
            img {
            border-radius: 8px;
            // -webkit-mask-image: url(../../medias/masque-future.svg);
            // mask-image: url(../../medias/masque-future.svg);
            // -webkit-mask-repeat: no-repeat;
            // mask-repeat: no-repeat; 
            }
            
            figcaption {
                position: absolute;
                color: $couleur__textePale;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                width: 80%;
                top: 1em;
                bottom: auto;
                left: 4%;
                right: auto;
                padding: 1em;
                font-size: 16px;
            }
        }
    }
}

// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    div.sections-future {
        flex-direction: row;
        margin: 3em 5%;
    
        div.section-future {
            
            .img-future {

                img {
                border-radius: 8px;
                // -webkit-mask-image: url(../../medias/masque-future.svg);
                // mask-image: url(../../medias/masque-future.svg);
                // -webkit-mask-repeat: no-repeat;
                // mask-repeat: no-repeat;
                }

                figcaption {
                    font-size: 18px;
                    left: 4%;
                }
            }
        }
    }
}

// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    div.sections-future {
        flex-direction: row;
        margin: 3em 20%;
    
        div.section-future {
        }
    }
}


// ***************************** Symbole Plus ******************************* //