// ****************************** Mobile ************************************ //
// SECTIONS FUTURE GÉNÉRALE
div.sections-future {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    div.section-future {
        display: flex;
        position: relative;

        .img-future {
            position: relative;
            justify-content: center;
            
            img {
                width: 250px;
            }
            
            // Titre
            figcaption {
                position: absolute;
                text-align: center;
                color: black;
                width: 80%;
                top: 25%;
                bottom: auto;
                left: 10%;
                right: auto;
                font-size: clamp(1.125rem, 0.875rem + 1.3333vw, 1.375rem);
            }
        }

        // Paragraphe
        p.texte-future {
            position: absolute;
            text-align: center;
            color: black;
            width: 50%;
            top: 35%;
            bottom: auto;
            left: 26%;
            right: auto;
            font-size: clamp(0.875rem, 0.625rem + 1.3333vw, 1.125rem);
        }
    }
}

// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    div.sections-future {
        flex-direction: row;
        margin: 3em 5%;
    
        div.section-future {
            justify-content: center;

            .img-future {

                img {
                    width: 20em;
                }

                // Titre
                figcaption {
                    top: 30%;
                    font-size: clamp(1.25rem, 0.7rem + 1.6vw, 1.5rem);
                }
            }

            // Paragraphe
            p.texte-future {
                width: 40%;
                top: 40%;
                left: 30%;
                right: auto;
                font-size: clamp(1.125rem, 0.575rem + 1.6vw, 1.375rem);
            }
        }
    }
}

// ****************************** LAPTOP ************************************ //
@media screen and (min-width: 782px) {
    div.sections-future {

        div.section-future {

            .img-future {

                // Titre
                figcaption {
                    position: absolute;
                    top: 22%;
                    bottom: auto;
                    right: auto;
                    font-size: 18px;
                }
            }

            // Paragraphe
            p.texte-future {           
                width: 80%;
                top: 30%;        
                left: 12%;
                font-size: clamp(1.125rem, 0.8333rem + 0.6667vw, 1.25rem);
            }
        }
    }
}


// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    div.sections-future {
        flex-direction: row;
        margin: 3em 17%;

        div.section-future {

            .img-future {

                img {
                    width: 20em;
                }

                // Titre
                figcaption {
                    text-align: center;
                    top: 28%;
                    font-size: clamp(1.125rem, 0.5rem + 1vw, 1.25rem);
                }
            }

            // Paragraphe
            p.texte-future {
                width: 45%;
                top: 35%;     
                left: 27%;
                font-size: clamp(1rem, -0.25rem + 2vw, 1.25rem);
            }
        }
    }
}

