// ****************************** Mobile ************************************ //
// SECTIONS FUTUR GÉNÉRALE
div.sections-futur {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    margin-bottom: 5em;
    font-size: clamp(1.125rem, 0.75rem + 2vw, 1.5rem);
    width: 90%;
    margin: -6em auto 7em auto;

    // UNE SECTION DE FUTUR
    .section-futur {
        display: flex;
        position: relative;
        margin-bottom: -10em;

        .img-futur {
            position: relative;
            margin: 2em;
            width: 40vw;
            transform: rotateZ(90deg);
        }

        // Titre
        h2 {
            position: absolute;
            text-align: center;
            color: black;
            width: 80%;
            top: 30%;
            bottom: auto;
            left: 10%;
            right: auto;
            font-size: clamp(1.125rem, 0.875rem + 1.3333vw, 1.375rem);
            z-index: 1;
        }

        // Paragraphe
        p.desc-futur {
            position: absolute;
            text-align: center;
            color: black;
            width: 100%;
            top: 37%;
            bottom: auto;
            left: 0;
            right: auto;
            z-index: 1;
        }
    }

    .section-futur:hover {
        cursor: pointer;
    }

    // AFFICHAGE DU CONTENU SÉLÉCTTIONNÉ OU NON
    .section-ferme .texte-futur, .texte-futur-selection .intro-ferme {
        display: none;
    }

    .texte-futur-selection .texte-futur {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: #001c2d;
        top: 50%;
        left: 0;
        width: 80%;
        transform: translateY(-50%);
        height: auto;
        padding: 10%;
        text-align: center;
        z-index: 2;
        background-color: white;
    }

    .texte-futur-selection .texte-futur h2 {
        color: #001c2d;
        top: 3%;
    }

    .texte-futur-selection .texte-futur p {
        font-size: clamp(0.875rem, 0.625rem + 1.3333vw, 1.125rem);
    }

    // Bouton pour fermer le contenu du cours
    // .bouton-x-futur::before { 
    //     content: 'X';
    //     font-weight: bold;
    //     position: relative;
    //     top: 5%;
    //     left: 47%;
    //     z-index: 3;
    // }

    // BOUTON PLUS EN BAS DES SECTION
    .bouton-plus {
        position: absolute;
        z-index: 1;
        top: 65%;
        right: -15%;
        width: 30%;
        height: auto;
    }
}

// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    div.sections-futur {
        flex-direction: row;
        margin: auto;
        width: 80%;
    
        div.section-futur {
            justify-content: center;
            margin-bottom: 5em;

            .img-futur {
                width: 15em;
                transform: rotateZ(0deg) translateY(0);
            }

            // Titre
            h2 {
                top: 30%;
                font-size: clamp(1.25rem, 0.7rem + 1.6vw, 1.5rem);
            }

            // Paragraphe
            p.desc-futur {
                width: 40%;
                top: 40%;
                left: 30%;
                right: auto;
                font-size: clamp(1.125rem, 0.575rem + 1.6vw, 1.375rem);
            }

             // BOUTON PLUS EN BAS DES SECTION
            .bouton-plus {
                position: absolute;
                z-index: 3;
                padding: 1.5em;
                top: 85%;
                right: 5%;
                border-radius: 20px;
                width: 30%;
                height: auto;
            }
        }

        .texte-futur-selection .texte-futur h2 {
            top: 10%;
        }

        .texte-futur-selection .texte-futur {
            left: 15px;
            border-radius: 85px;
            padding: 6.5em 0.7em 6.5em 0.7em;
            background-color: white;
        }
    }
}

// ****************************** LAPTOP ************************************ //
@media screen and (min-width: 782px) {
    div.sections-futur {
        width: 65%;

        div.section-futur {

            // Titre
            h2 {
                position: absolute;
                top: 30%;
                bottom: auto;
                right: auto;
                font-size: 18px;
            }
            
            // Paragraphe
            p.desc-futur {           
                width: 50%;
                top: 40%;        
                left: 25%;
                font-size: clamp(1.125rem, 0.8333rem + 0.6667vw, 1.25rem);
            }
        }
    }
}


// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    div.sections-futur {
        flex-direction: row;

        div.section-futur {

            // Titre
            h2 {
                text-align: center;
                top: 28%;
                font-size: clamp(1.125rem, 0.5rem + 1vw, 1.25rem);
            }

            // Paragraphe
            p.desc-futur {
                width: 45%;
                top: 35%;     
                left: 27%;
                font-size: clamp(1rem, -0.25rem + 2vw, 1.25rem);
            }
        }
    }
}

