// ****************************** Mobile ************************************ //
// BOUTONS SESSION
.session-buttons {
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.session-button {
    position: relative;
    color: #E8E8E8;
    border: none;
    margin: -1.61em;
    border-radius: 8px 8px 0 0;
    font-size: 9vw;
}

button.session-button:nth-of-type(1) { z-index: 7; background-color: #1b72a6; }
button.session-button:nth-of-type(2) { z-index: 6; background-color: #0a5785; }
button.session-button:nth-of-type(3) { z-index: 5; background-color: #07486f; }
button.session-button:nth-of-type(4) { z-index: 4; background-color: #00395b; }
button.session-button:nth-of-type(5) { z-index: 3; background-color: #042a41; }
button.session-button:nth-of-type(6) { z-index: 2; background-color: #001c2d; }

// bouton (session) sélectionné
button.session-button .selection {
    background-color: $bleu__pale;
    z-index: 10;
}

// hover des boutons (session)
button.session-button:hover {
    background-color: $orange__creation;
}


// SESSIONS
.sessions-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;

    .session {
        background-color: $bleu__pale;
        color: $couleur__textePale;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        padding: 1em;
        border-radius: 0 0 8px 8px;
    
        h2 {
            align-self: center;
            width: 100%;
            text-align: center;
            margin: 0;
            color: $fond__creation;
        }
    }
}

// COURS
.cours {
    width: 75%;
    margin: 1em;
    padding: 1em;
    background-color: $bleu__moyen;
    border-radius: 8px;
}

// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    // BOUTONS SESSION
    .session-buttons {
        margin-bottom: 4%;
    }

    button.session-button {
        font-size: 8vw;
    }

    // COURS
    .cours {
        width: 35%;
        margin: 1em;
        padding: 1em;
        background-color: $bleu__moyen;
        border-radius: 8px;
    }
}


// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    // BOUTONS SESSION
    .session-buttons {
        margin-left: 35%;
        margin-top: 5%;
        margin-bottom: 2%;
        width: 30%;
    }

    button.session-button {
        margin: -1.6em;
        font-size: 4vw;
    }

    .sessions-container .session {
        width: 40%;
    }
}