// ****************************** Mobile ************************************ //
// SECTION COMPLÈTE
.sessions-boutons-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    
    // BOUTONS SESSION
    .session-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        margin-top: 5%;
        align-self: stretch;

        button.session-button {
            position: relative;
            color: $couleur__textePale;
            border: none;
            border-radius: 8px 8px 0 0;
            font-size: clamp(1.125rem, 0.5202rem + 3.871vw, 1.875rem);            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 0.2em;
        }

        // Couleurs des boutons sessions
        button.session-button:nth-of-type(1) { z-index: 7; background-color: #1e6b99; }
        button.session-button:nth-of-type(2) { z-index: 6; background-color: #0a5785; }
        button.session-button:nth-of-type(3) { z-index: 5; background-color: #07486f; }
        button.session-button:nth-of-type(4) { z-index: 4; background-color: #00395b; }
        button.session-button:nth-of-type(5) { z-index: 3; background-color: #042a41; }
        button.session-button:nth-of-type(6) { z-index: 2; background-color: #001c2d; }

        // bouton (session) sélectionné
        button.session-button.selection {
            background-color: $bleu__pale;
            color: $fond__creation;
            z-index: 10;
        }

        .bouton-ferme {
            display: none;
        }

        .bouton-ouvert {
            display: block;
            padding-right: 5%;
        }

        // hover des boutons (session)
        button.session-button:hover {
            background-color: $orange__creation;
        }
    }

    // SESSIONS
    .sessions-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5em;
        width: 100%;

        .session {
            background-color: $bleu__pale;
            color: $couleur__textePale;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 1em;
            border-radius: 0 0 8px 8px;
        
            h2 {
                align-self: center;
                width: 100%;
                text-align: center;
                margin: 0;
                color: $fond__creation;
            }

            // COURS
            .cours {
                width: 75%;
                margin: 1em;
                padding: 1em;
                background-color: $bleu__moyen;
                border-radius: 8px;
            }       

            .cours:hover {
                cursor: pointer;
            }

            // AFFICHAGE DU CONTENU DES COURS SÉLÉCTTIONNÉS OU NON
            .cours-ferme .texte-cours {
                display: none;
            }

            .cours-selection .texte-cours {
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: #001c2d;
                border-radius: 8px;
                top: 10%;
                left: 0;
                width: 80%;
                height: auto;
                padding: 10%;
                z-index: 5;
            }

            // Bouton pour fermer le contenu du cours
            .bouton-x::before { 
                content: 'X';
                font-weight: bold;
                position: relative;
                top: 5%;
                left: 47%;
            }

            .texte-cours, .cours h3{
                text-align: center;
            }
        }
    }
}


// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    .sessions-boutons-container > div {
        width: 80%;

        // BOUTONS SESSION
        .session-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            button.session-button {
                font-size: clamp(0.9375rem, -0.2083rem + 3.3333vw, 1.875rem);
                padding: 0 0.4em;
            }
        }

        // SESSIONS
        .sessions-container {
            .session {
                .cours {
                    width: 35%;
                    margin: 1em;
                    padding: 1em;
                    background-color: $bleu__moyen;
                    border-radius: 8px;
                }

                // AFFICHAGE DU CONTENU DES COURS
                .cours-selection .texte-cours {
                    top: 5px;
                    left: 0;
                    width: 60%;
                    transform: translateX(26%);
                    padding: 3%;
                }
            }
        }
    }
}


// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    .sessions-boutons-container > div {
        width: 65%;

        // BOUTONS SESSION
        .session-buttons {
            button.session-button {
                font-size: 30px;
            }
        }

        // SESSIONS
        .sessions-container {
            .session {
                .cours {
                    width: 40%;
                }
            }
        }
    }
}