.bloc_footer {
    background-color: $fond__creation;
    color: #E8E8E8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'montserrat', sans-serif;
    font-size: 0.7em;

    @media screen and (min-width: $largeur__tablette) {
        height: 11%;
        font-size: 0.8em;
    }

    @media screen and (min-width: $largeur__bureau) {
        height: 15%;
        font-size: 1em;
    }

    .footer_adresse {
        background-color: $orange__creation;
        width: 60%;

        -webkit-border-radius: 40px;
        border-radius: 50px;
        margin: 5px 0px 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        a {
            text-decoration: none;
            color: #E8E8E8;
            margin: 3px 0;
        }

        a:hover {
            color: $bleu__moyen;
        }
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $orange__creation;
        width: 35%;

        a {
            text-decoration: none;
            margin: 5px;

            svg {
                height: 2em;

                @media screen and (min-width: $largeur__tablette) {
                    height: 2.5em;
                }

                @media screen and (min-width: $largeur__bureau) {
                    height: 3em;
                }
            }
        }

    }
}