.bloc_footer {
    background-color: $fond__prog;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer_adresse {
        width: 60%;
        display: block;
        margin: 5px;

        .adresse_gauche,
        .adresse_droit {
            margin: 5px;
            display: block;

            .adresse1,
            .adresse2,
            .adresse3,
            .adresse4 {
                color: $orange__creation ;
                list-style: none;
                margin: 15px 0;

                a {
                    color: $bleu__pale;
                    margin: 5px 0;
                    text-decoration: none;
                    font-weight: bold;
                }

                a:hover {
                    color: $orange__creation;
                    transition: color 0.3s ease-in-out;
                }

            }
        }
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;

        a {
            margin: 0 1vh;

            svg {
                color: $orange__creation;
                height: 2.5em;
            }

            svg:hover {
                transition: height 1s;
                height: 3em;
            }

        }

    }
}

//vague
.vague_footer {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: $fond__prog;
    transform: scale(1, 1);
    z-index: 0;
}

.vague_footer:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: $fond__creation;
    right: -25%;
    top: -280px;
}

.vague_footer:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: $fond__prog;
    left: -25%;
    top: -20px;
    rotate: 180deg;
    clip-path: ellipse(100% 15% at -15% 100%);
}

////////////////////////////////////////////////////////////////
@media screen and (min-width: $largeur__tablette) {
    .bloc_footer {
        height: 11%;
        //font-size: 0.8em;

        .footer_adresse {
            flex-direction: row;
            justify-content: flex-start;

            .adresse1,
            .adresse2,
            .adresse3,
            .adresse4 {
                padding: 2px;
            }
        }

        .footer_logo {
            a {
                margin: 0 2vh;

                svg {
                    height: 3em;
                }

                svg:hover {
                    height: 4em;
                }
            }
        }
    }

}

/////////////////////////////////////////////////////////
@media screen and (min-width: $largeur__bureau) {
    .bloc_footer {
        height: 15%;

        .footer_adresse {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
        }

        .footer_adresse {
            flex-direction: row;

            .adresse1,
            .adresse2,
            .adresse3,
            .adresse4 {
                padding: 5px;
            }
        }

        .footer_logo {
            a {
                margin: 0 5vh;

                svg {
                    height: 3.5em;
                }

                svg:hover {
                    height: 4.5em;
                }
            }
        }
    }
}