.Section-prof {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: stretch;
    justify-content: stretch;

    color: #E8E8E8;
    position: relative;

    padding: 0;
    border-radius: 0 0 8px 8px;

    .professeur {
        width: 75%;
        margin: 1em;
        padding: 1em;
        background-color: $bleu__moyen;
        border-radius: 8px;
        font-size: 15px;
    }
}

// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
    .Section-prof {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 1em;
        width: 90%;
        margin: auto;

        .professeur {
            font-size: 18px;
        }
    }
}


// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
    .Section-prof {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 1em;
        width: 65%;
        margin: auto;
    }
}