.Section-prof {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 1em;
    border-radius: 0 0 8px 8px;

    .professeur {

        width: 75%;
        margin: 1em;
        padding: 1em;
        border-radius: 8px;
    }
}