$couleur__textePale: #E8E8E8;

// COULEUR PROG
$fond__prog: #1F1F1F;
$gris__prog: #585B60;
$vert__prog: #BDC433;
$rose__prog: #D8867D;

// COULEUR CRÉATION
$fond__creation: #0E3D6D;
$bleu__moyen: #1B72A6;
$bleu__pale: #9ACBDA;
$orange__creation: #F06543;
