html {
	background-color: rgb(255, 255, 255);
	font-family: 'Red Hat Display', 'Montserrat', sans-serif;
}

.site {
	background-color: #0e3d6d;
}

//************************** Taille de la Police ***********************************//
h1 {
	font-size: clamp(1.875rem, 1.125rem + 3vw, 4.5rem);
}

h2 {
	font-size: clamp(1.5625rem, 0.8482rem + 2.8571vw, 4.0625rem);
}

h3 {
	font-size: clamp(1.125rem, 0.375rem + 3vw, 3.75rem);
}

h4 {
	font-size: clamp(1rem, 0.3036rem + 2.7857vw, 3.4375rem);
}

h5 {
	font-size: clamp(0.875rem, 0.2321rem + 2.5714vw, 3.125rem);
}

h6 {
	font-size: clamp(0.875rem, 0.2321rem + 2.5714vw, 3.125rem);
}

a,
p {
	font-size: clamp(0.875rem, 0.6964rem + 0.7143vw, 1.5rem);
}

//                          TITRE DES SECTIONS
// ****************************** MOBILE ************************************ //
.titre-article {
	position: relative;
	font-size: 30px;
	color: #9ACBDA;
	text-transform: uppercase;
	margin: 1em 20%;
}

// Ligne décoratrice
.titre-article::before {
	content: "";
	position: absolute;
	background-color: $orange__creation;
	border-radius: 8px;
	height: 3px;
	width: 50%;
	bottom: 0;
	left: 0;
}

.titre-article::after {
	content: "";
	position: absolute;
	background-color: $orange__creation;
	border-radius: 8px;
	height: 3px;
	width: 30%;
	bottom: -0.3em;
	left: 0;
}


// ***************************** TABLETTE *********************************** //
@media screen and (min-width: 554px) {
	.titre-article {
		font-size: 45px;
	}

	.titre-article::before {
		height: 5px;
		bottom: -0.2em;
	}

	.titre-article::after {
		height: 5px;
		bottom: -0.5em;
	}
}

// ****************************** BUREAU ************************************ //
@media screen and (min-width: 992px) {
	.titre-article {
		font-size: 65px;
	}
}