////////////////////////version creative/////////////////////////////

.site__entete{
    display: flex;
    color: #9ACBDA;
    background-color: #0E3D6D;
    flex-direction: row;
    flex-wrap: nowrap;
}