
 /* Normalisation supplémentaire
        =============================================== */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Styles de base
        =============================================== */
        main.contenu {
            min-height: 100%;
            background-color: #eee;

            /*Conteneur flex en colonne*/
            display: flex;
            flex-direction: row;

            /*IMPORTANT - Empêcher que le contenu attrape les clics de souris...*/
            pointer-events: none;

        }




        nav a {
            display: block;
            padding: 0.5rem 1rem;
            margin-bottom: 0.2rem;
            text-decoration: none;
            color: navy;
            text-align: center;
        }

        h1,
        h3 {
            padding: 0 0.5rem;
        }

        li {
          min-height: 100%;
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        color: azure; 
        border-radius: 25px;
        border: 2px solid orangered;
        padding: 20px;
        width: 200px;
        height: 10%;
        justify-content: center;
        }

        ul{
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
        }

        .navbar {
            width: 100%;
            box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
            @media screen and (min-width: 768px) {
              display: none;
          }
          }
           
          .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 62px;
          }
           
          .navbar .menu-items {
            display: flex;
            .site__aside{
              background-color: rgba(255, 255, 255, 0);
            }
          }
           
          .navbar .nav-container li {
            list-style: none;
          }
           
          .navbar .nav-container a {
            text-decoration: none;
            color: #0e2431;
            font-weight: 500;
            font-size: 1.2rem;
          }
           
          .navbar .nav-container a:hover{
              font-weight: bolder;
          }
           
          .nav-container {
            display: block;
            position: relative;
            height: 60px;
          }
           
          .nav-container .checkbox {
            position: absolute;
            display: block;
            height: 32px;
            width: 32px;
            top: 20px;
            left: 20px;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
          }
           
          .nav-container .hamburger-lines {
            display: block;
            height: 26px;
            width: 32px;
            position: absolute;
            top: 17px;
            left: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
           
          .nav-container .hamburger-lines .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: orangered;
          }
           
          .nav-container .hamburger-lines .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
          }
           
          .nav-container .hamburger-lines .line2 {
            transition: transform 0.2s ease-in-out;
          }
           
          .nav-container .hamburger-lines .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
          }
           
          .navbar .menu-items {
            background-color: rgb(75, 75, 75);
            padding-top: 120px;
            height: 100vh;
            width: 100%;
            transform: translateX(-150%);
            display: flex;
            flex-direction: column;
            transition: transform 0.5s ease-in-out;
            text-align: center;
          }
           
          .navbar .menu-items li {
            margin-bottom: 1.2rem;
            font-size: 1.5rem;
            font-weight: 500;
          }
           
           
           
          .nav-container input[type="checkbox"]:checked ~ .menu-items {
            transform: translateX(0);
            position: fixed;
          }
          .nav-container input[type="checkbox"]:checked header{
              position: fixed;
          }
           
          .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
            transform: rotate(45deg);
          }
           
          .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
            transform: scaleY(0);
          }
           
          .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
            transform: rotate(-45deg);
          }
           
            .wp-block-gallery.has-nested-images figure.wp-block-image{
              position: initial;
            }
            @media screen and (min-width: 992px){
              .container nav-container{
                display: none;
              }
            }