
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base
=============================================== */




.site_entete {
    min-height: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;

}


li{
  min-height: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    color: azure; 
    border-radius: 25px;
  border: 2px solid orangered;
  padding: 20px;
  width: 200px;
  height: 10%;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
  align-content: flex-start;
  justify-content: center;
  flex-direction:space-between;
   
}
.barre-menu,
.menu{
    color: #ddd;
  
}




/* Mise en page pour les petits périphériques
=============================================== */

.barre-menu {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #ddd;
    /*La position est fixe pour toujours le voir quand on navigue dans les sections*/
    position: fixed;
    top: 0;


    /*Conteneur flex en rangée avec alignement à droite pour les petits périphériques*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.menu {
    width: 100%;
    /*Position fixe sur petit écran en bas de la barre de la barre de menu*/
    position: fixed;
    top: 10vh;

    /*Sa hauteur est celle de la hauteur du viewport MOINS celle de la barre de navigation*/
    height: 90vh;

    /*Conteneur flex en colonne avec élément centré au milieu*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Au démarrage on met complètement transparent*/
    opacity: 0;

    /*Effet de transition*/
    transition: opacity 0.5s;
}

/*Om met tous les boutons du menu complètement à gauche ou à droite*/

.menu a {
    transform: translateX(-100%);
    /*Effet de transition*/
    transition: transform 400ms;
}

/*Les bouton pairs von arriver par la droite...*/
.menu a:nth-child(even){
    transform: translateX(100%);
}

.bouton-burger {
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    background: linear-gradient(to bottom, #ddd 0%, #ddd 20%, transparent 20%, transparent 40%, #ddd 40%, #ddd 60%, transparent 60%, transparent 80%, #ddd 80%, #ddd 100%);
    cursor: pointer;
    transition: transform 400ms;
}

/* Contrôle du menu et du bouton burger...
========================================================================== 
    Le menu...est en position fixed et mis sur le contenu avec de la transparence
    Il apparaît ou disparaît selon l'état 'checked' de la case à cocher
    #cc-pour-bouton-burger. La manière de le faire apparaître est de le mettre
    opaque avec opacity:1
==========================================================================*/


#cc-pour-bouton-burger:checked~.barre-menu>.bouton-burger {
    transform: rotate(90deg);
}

/*
    On met le menu opaque
*/
#cc-pour-bouton-burger:checked~.barre-menu>.menu {
    opacity: 1;
}

/*Arrivée des différents boutons avec un délai*/
#cc-pour-bouton-burger:checked~.barre-menu>.menu a {
    transform: translateX(0%);
}

#cc-pour-bouton-burger:checked~.barre-menu>.menu a:nth-child(1) {
    transition-delay: 0.5s;
}

#cc-pour-bouton-burger:checked~.barre-menu>.menu a:nth-child(2) {
    transition-delay: 1s;
}

#cc-pour-bouton-burger:checked~.barre-menu>.menu a:nth-child(3) {
    transition-delay: 1.5s;
}

#cc-pour-bouton-burger:checked~.barre-menu>.menu a:nth-child(4) {
    transition-delay: 2s;
}

#cc-pour-bouton-burger:checked~.barre-menu>.menu a:nth-child(5) {
    transition-delay: 2.5s;
}

#cc-pour-bouton-burger {
    /*On cache la case à cocher*/
    display: none;
}



@media screen and (min-width: 768px) {
    .menu {
        position: static;
        flex-direction: row;
        height: auto;
        transform: translateX(0%);
        justify-content: space-evenly;
        opacity: 1;
    }

    .menu a, .menu a:nth-child(even){
        flex-grow: 1;
        /*Enlever la translation*/
        transform: translateX(0%);
    }

    .barre-menu {
        height: auto;
        border: none;
    }

    .bouton-burger {
        /*On cache le bouton burger*/
        display: none;
    }
}